
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>
<div class="form-group row dashboard">
    <iframe src="http://localhost:5601/app/kibana#/dashboard?embed=true&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(timeRange:(from:now%2Fd,to:now%2Fd),vis:(legendOpen:!t)),gridData:(h:17,i:d619e882-e42c-41f0-93d1-cf61c1e363c6,w:48,x:0,y:0),id:f0bc5090-ae63-11ea-bd22-47b0819decda,panelIndex:d619e882-e42c-41f0-93d1-cf61c1e363c6,type:visualization,version:'7.7.1'),(embeddableConfig:(timeRange:(from:now%2Fd,to:now%2Fd)),gridData:(h:15,i:e4f36148-9ef1-4774-b309-a45d838960bf,w:24,x:0,y:17),id:f07d12c0-ae65-11ea-bd22-47b0819decda,panelIndex:e4f36148-9ef1-4774-b309-a45d838960bf,type:visualization,version:'7.7.1'),(embeddableConfig:(timeRange:(from:now%2Fd,to:now%2Fd)),gridData:(h:15,i:'49807a20-d7e6-40ef-9f85-76d24211bcb8',w:24,x:24,y:17),id:'3f5d7c90-ae66-11ea-bd22-47b0819decda',panelIndex:'49807a20-d7e6-40ef-9f85-76d24211bcb8',type:visualization,version:'7.7.1')),query:(language:kuery,query:''),timeRestore:!f,title:'',viewMode:edit)&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now%2Fd,to:now%2Fd))" height="600" width="800"></iframe>
</div>